{{ $ := .root }}
{{ $page := .page }}

<!-- Experience widget -->
  <div class="col-12 text-center section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>

    {{ with $page.Content }}{{ . }}{{ end }}

    <div class="row">

    {{ if $page.Params.experience }}
    {{ $exp_len := len $page.Params.experience }}
    {{ range $idx, $key := sort $page.Params.experience ".date_start" "desc" }}
      <!-- Content -->
      <div class="col-4">
        <div class="card custom-center">
          <div class="card-header font-weight-bold">
            <h2 class="card-title exp-title text-muted mt-0 mb-1">{{.title | markdownify | emojify}}</h2>
            {{.duration | markdownify | emojify}} <br>
          </div>
          <div class="card-header font-weight-bold">
            <h3 class="card-title exp-title text-muted mt-0 mb-1">{{.price | markdownify | emojify}}</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{.people | markdownify | emojify}}</li>
            <li class="list-group-item">{{.description | markdownify | emojify}}</li>
            <li class="list-group-item font-weight-bold">{{.footer | markdownify | emojify}}</li>
          </ul>
        </div>
      </div>
    {{end}}
  </div>
    {{end}}
